<div class="jumbotron">
	<h1 class="text-center">Bem vindo ao Contatooh</h1>		
</div>
<p ng-show="mensagem.texto">{{mensagem.texto}}</p>
<a class="btn btn-primary" ng-href="#/contato">Novo Contato</a>
<input ng-model="filtro" type="search" placeholder="parte do nome">
<p class="text-info" ng-show="contatos.length">Contatos cadastrados: {{contatos.length}}</p>
<p class="text-info" ng-hide="contatos.length">Não há contatos cadastrados</p>
<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>NOME</th>
			<th>E-MAIL</th>
			<th>EMERGENCIA</th>
			<th class="text-center">AÇÃO</th>
		</tr>
		<tr ng-repeat="contato in contatos | filter: filtro">
			<th>
				<a ng-href="#/contato/{{contato._id}}">{{contato.nome}}</a>
			</th>
			<th>{{contato.email}}</th>
			<th>{{contato.emergencia.nome}}</th>
			<th class="text-center">
				<button ng-click="remove(contato)" class="btn btn-warning">Remover</button>
			</th>
		</tr>	
	</table>
</div>